<div class="col-md-12">

  <div class=" box container-fluid">

    <div class="box-inner col-md-6 col-md-offset-3">
      <p class="slogan ">感谢这个风起云涌的时代，
        <br>
          我们一起，或许可以改变世界.
      </p>
      <p class="lead row">
        想要搜索职位？<%= link_to '立即开始', jobs_path %>
      </p>
    </div>
  </div>
</div>


  <div class="row col-sm-offset-1 container">
    <div class="first foot-box col-sm-6">
      <%= image_tag 'foot-1.jpg', class: 'img-responsive' %>
      <p class="foot">技术职位</p>
      <br/>
      <p class="foot-2">我们用双手让梦想照进现实</p>
      <p class="foot-2"><%= link_to("了解更多>",jobs_path)%></p>
    </div>

    <div class="second foot-box col-sm-6">
      <%= image_tag 'foot-2.jpg', class: 'img-responsive'%>
      <p class="foot">非技术职位</p>
      <br/>
      <p class="foot-2">我们用智慧让世界更加美好</p>
      <p class="foot-2"><%= link_to("了解更多>",jobs_path)%></p>
    </div>
  </div>
